<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
    <connectionStrings>
        <add name="NubeFactJson.Properties.Settings.BDQualityv"
            connectionString="Data Source=192.168.56.1;Initial Catalog=BDQualityv;Persist Security Info=True;
            User ID=sa;Password=sa;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
        
        <add name="NubeFactJson.Properties.Settings.Ruta"
            connectionString="https://www.nubefact.com/api/v1/26659502-6a59-48dc-a360-dcdf0ba4fd61"/>
        
        <add name="NubeFactJson.Properties.Settings.Token"
            connectionString="2f0f3ef1ec7a4170acc32bd99908bd4dcccbbb5c90c044849a95b9d611f720ad"/>
    </connectionStrings>
</configuration>